<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>(c) b.ZCW </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <!-- {%- include social.html -%} -->
        <ul class="social-media-list">
          {%- include icons.html -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <!-- <li>{{- site.description | escape -}}</li> -->
          <li>pageviews: <span class="visit-counter-wrapper"><span id="visit-counter">...</span></span></li>
        </ul>
      </div>

    </div>

  </div>

</footer>