<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo title=false %}

  <title>
    {% if page.tag or page.title %}
    {% if page.tag %}
    {{ page.tag | escape }}
    {% else %}
    {{ page.title | escape }}
    {% endif %}
    -
    {% endif %}
    {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
    Page {{ paginator.page }} of {{ paginator.total_pages }} -
    {% endif %}
    {{ site.title | escape }}
    {% unless page.tag or page.title %}
    - {{ site.description | escape }}
    {% endunless %}
  </title>
  <link rel="icon" href="{{ site.baseurl }}/assets/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.svg" type="image/svg+xml">

  <link rel="icon" href="{{ site.baseurl }}/assets/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.svg" type="image/svg+xml">

  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.baseurl }}/sitemap.xml" />
  <style>
    {% capture include_to_scssify %}
    {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  
  <!-- MathJax v3 Configuration -->
  <!-- <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true,
        processEnvironments: true,
        macros: {
          '\\R': '\\mathbb{R}'
        }
      },
      options: {
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process'
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script id="MathJax-script" async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script> -->
  <script class="show">
    MathJax = {
      tex: {inlineMath: {'[+]': [['$', '$']]},
        displayMath: {'[+]': [['$$', '$$']]},
        processEnvironments: true,
        processEscapes: true,
        processHtmlClass: 'tex2jax_process',
        ignoreHtmlClass: 'tex2jax_ignore',
    }
    };
    </script>
    <script class="show" defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>
  
  
  <!-- Google Analytics Visit Counter Script (Real API) -->
  <script src="{{ site.baseurl }}/assets/js/ga-visit-counter.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/visit-counter.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extras.css">

  <!-- Google Analytics -->
  {% if site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}

</head>