@import "var";
@import "syntax_github";
*,
:after,
:before {
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 1rem;
  color: rgb(22, 23, 26);
}

nav ul {
  border-right: 1px solid #edf2f7;
}

a {
  color: #000;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

pre {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.post p {
  margin: 0.5rem 0;
}

.post h1,
.post h2,
.post h3,
.post h4 {
  margin: 1rem 0;
}

.post h2:first-child,
.project h2:first-child,
.photo h2:first-child {
  margin-top: 0;
}

.meta {
  margin: 2rem 0;
}

code,
pre {
  background: rgb(236, 237, 238);
}

code {
  padding: 0.1rem;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
}

pre code {
  border: none;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

hr {
  background: #000;
  height: 1px;
  border: 0;
}

header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
}

header a {
  text-decoration: none;
}

header li {
  margin-bottom: 0.2rem;
  text-align: right;
  margin-right: 2rem;
}

header a.active {
  font-weight: bold;
}

header,
section {
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #ececec;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}

section h1:first-child {
  margin-top: 0;
}

strong,
b {
  font-weight: bold;
}

.photos ul {
  list-style: none;
}

.photos li {
  margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
  margin-bottom: 0.5rem;
}

.posts ul,
header ul {
  list-style: none;
}

.posts li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.posts li a,
.posts li div,
.projects li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.posts li time,
.projects li time {
  padding-left: 1rem;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.post ul,
.project ul,
.post ol {
  //list-style-position: inside;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
}

@media screen and (max-width: 45rem) {
  header li {
    display: inline;
    margin-right: 1rem;
  }
  .logo {
    padding-bottom: 1rem;
  }
  header ul {
    border-bottom: 1px solid #edf2f7;
    padding-bottom: 2rem;
  }
  nav ul {
    border-right: 0px;
  }

  .photos ul {
    margin-top: 0.5rem;
  }
}

section {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;
}

figcaption {
  font-size: smaller;
}

// clear fix
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// site footer
// modified from minima theme

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
// KaTeX macros
.katex {
  font-size: 1em !important;
}

// tables, from pandoc
table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: 0.2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: 0.2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

// listings
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}
